body {
    margin: 0;
    font-family: Arial;
    background: #0f172a;
    color: white;
}

header {
    background: #020617;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.container {
    width: 90%;
    margin: auto;
}

.card {
    background: #1e293b;
    padding: 15px;
    border-radius: 10px;
    margin: 15px 0;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.02);
}

h3 {
    color: #3b82f6;
}

button, a {
    background: #3b82f6;
    padding: 8px 12px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}